Repository CC-Circle/Janaihou, pull requests merged in 2024-02, with the labels that each got.

#19 Adjustment time manager
  Assets/Scenes/Takumi.unity
  Assets/prefab/Rock 1.prefab
  Assets/script/gimmick/river/jousyou.cs
  Assets/script/gimmick/river/river.cs
  Assets/script/gimmick/rock/rock_gene.cs
  Assets/script/gimmick/rock/rock_move.cs
  Assets/script/player/TIME_MANAGER.cs
  Assets/stage/Takumi/Material/WalterMaterial/walter 1.mat
  Assets/stage/Takumi/Scripts/WalterControler.cs
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/TagManager.asset
Labels: enhancement, stage gimmick

#24 Gimmick: ベルトコンベアの追加
  Assets/Scenes/Nibosi-gimmick_test.unity
  Assets/Scenes/Nibosi-gimmick_test.unity.meta
  Assets/prefab/conveyor.meta
  Assets/prefab/conveyor/Conveyor-1x3.fbx
  Assets/prefab/conveyor/Conveyor-1x3.fbx.meta
  Assets/prefab/conveyor/conveyor_belt-Color.png
  Assets/prefab/conveyor/conveyor_belt-Color.png.meta
  Assets/prefab/conveyor/conveyor_belt_b-Color.png
  Assets/prefab/conveyor/conveyor_belt_b-Color.png.meta
  Assets/prefab/conveyor/conveyor_belt_c-Color.png
  Assets/prefab/conveyor/conveyor_belt_c-Color.png.meta
  Assets/script/gimmick/conveyor.meta
  Assets/script/gimmick/conveyor/Conveyor.cs
  Assets/script/gimmick/conveyor/Conveyor.cs.meta
  Assets/script/gimmick/conveyor/Conveyor_Scroll.cs
  Assets/script/gimmick/conveyor/Conveyor_Scroll.cs.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: enhancement, stage gimmick

#35 feat: Parallel-moving-floor
  Assets/Scenes/Nibosi-gimmick_test.unity
  Assets/script/gimmick/Parallel_moving_floor.meta
  Assets/script/gimmick/Parallel_moving_floor/Paralell_moving_floor.cs
  Assets/script/gimmick/Parallel_moving_floor/Paralell_moving_floor.cs.meta
  Assets/script/gimmick/Parallel_moving_floor/Player_trigger.cs
  Assets/script/gimmick/Parallel_moving_floor/Player_trigger.cs.meta
  Assets/script/player/Player.cs
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
  ProjectSettings/TagManager.asset
Labels: enhancement, stage gimmick

#38 ベルトコンベアーの流れの見た目の修正
  Assets/Scenes/fix_try_conve.unity
  Assets/Scenes/fix_try_conve.unity.meta
  Assets/script/gimmick/conveyor/Conveyor_Scroll.cs
Labels: bug, stage gimmick

#41 Feat down scaffolding
  Assets/Scenes/Nibosi-gimmick_test.unity
  Assets/prefab/Scaffolding.prefab
  Assets/prefab/Scaffolding.prefab.meta
  Assets/script/gimmick/down_scaffolding.meta
  Assets/script/gimmick/down_scaffolding/Down_Scaffolding.cs
  Assets/script/gimmick/down_scaffolding/Down_Scaffolding.cs.meta
  Assets/script/gimmick/down_scaffolding/Player_Trigger.cs
  Assets/script/gimmick/down_scaffolding/Player_Trigger.cs.meta
Labels: stage gimmick
