Repository CC-Circle/Janaihou, pull requests merged in 2024-03, with the labels that each got.

#46 add:ドアと鍵
  Assets/Scenes/key.unity
  Assets/Scenes/key.unity.meta
  Assets/material/New Material 8.mat
  Assets/material/New Material 8.mat.meta
  Assets/open.cs
  Assets/open.cs.meta
  Assets/prefab/Doorkey.meta
  Assets/prefab/Doorkey/Door.prefab
  Assets/prefab/Doorkey/Door.prefab.meta
  Assets/prefab/Doorkey/key.prefab
  Assets/prefab/Doorkey/key.prefab.meta
  Assets/script/gimmick/key.meta
  Assets/script/gimmick/key/Door.cs
  Assets/script/gimmick/key/Door.cs.meta
  Assets/script/gimmick/key/Key.cs
  Assets/script/gimmick/key/Key.cs.meta
  Assets/stage/Takumi/Stage3Dmodel/Door.meta
  Assets/stage/Takumi/Stage3Dmodel/Door/Door.fbx
  Assets/stage/Takumi/Stage3Dmodel/Door/Door.fbx.meta
  Assets/stage/Takumi/Stage3Dmodel/Door/Dooranima.anim
  Assets/stage/Takumi/Stage3Dmodel/Door/Dooranima.anim.meta
  Assets/stage/Takumi/Stage3Dmodel/Door/Dooranimationcontroler.controller
  Assets/stage/Takumi/Stage3Dmodel/Door/Dooranimationcontroler.controller.meta
  Assets/stage/Takumi/Stage3Dmodel/Key.meta
  Assets/stage/Takumi/Stage3Dmodel/Key/Keyanimation.anim
  Assets/stage/Takumi/Stage3Dmodel/Key/Keyanimation.anim.meta
  Assets/stage/Takumi/Stage3Dmodel/Key/key.controller
  Assets/stage/Takumi/Stage3Dmodel/Key/key.controller.meta
  Assets/stage/Takumi/Stage3Dmodel/Key/key.fbx
  Assets/stage/Takumi/Stage3Dmodel/Key/key.fbx.meta
  Assets/stage/Takumi/Stage3Dmodel/key.fbx
  Assets/stage/Takumi/Stage3Dmodel/key.fbx.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: enhancement, stage gimmick

#49 feat: Treasure Chest
  Assets/Scenes/Nibosi-gimmick_test.unity
  Assets/otherAsset/FS Loot Boxes.meta
  Assets/otherAsset/FS Loot Boxes/Assets.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Editor.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Editor/LootBoxEditor.cs
  Assets/otherAsset/FS Loot Boxes/Assets/Editor/LootBoxEditor.cs.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestAnimator.controller
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestAnimator.controller.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestGold.mat
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestGold.mat.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestModel.fbx
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestModel.fbx.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestTexture.png
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestTexture.png.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestWood.mat
  Assets/otherAsset/FS Loot Boxes/Assets/Models/TreasureChest/TreasureChestWood.mat.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Prefabs.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Prefabs/TreasureChestPrefab.prefab
  Assets/otherAsset/FS Loot Boxes/Assets/Prefabs/TreasureChestPrefab.prefab.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Scripts.meta
  Assets/otherAsset/FS Loot Boxes/Assets/Scripts/LootBox.cs
  Assets/otherAsset/FS Loot Boxes/Assets/Scripts/LootBox.cs.meta
Labels: enhancement

#48 feat: 消える足場
  Assets/Scenes/Nibosi-gimmick_test.unity
  Assets/script/gimmick/disappearing_platform.meta
  Assets/script/gimmick/disappearing_platform/Disappearing_Platform.cs
  Assets/script/gimmick/disappearing_platform/Disappearing_Platform.cs.meta
Labels: stage gimmick
